.button {
  outline: none;
  border: 1px solid #7a7a7a;
  border-radius: 8px;
  padding: 12px 15px 11px 48px;
  text-align: center;
  font-size: 14px;
  line-height: 16px;
  color: #7a7a7a;
  background-color: #000000;
  width: 130px;
  height: 40px;
  cursor: pointer;
  transition: opacity 0.15s linear;
  position: relative;

  &.white {
    color: #000000;
    background-color: #ffffff;
    border: none;
  }

  &:hover {
    opacity: 0.8;
  }
}

.icon {
  width: 16px;
  height: 16px;
  position: absolute;
  top: 11px;
  right: 102px;
}
