.footer {
  display: flex;
  flex-direction: row;
  padding-top: 101px;
}
.text {
  margin: 0;
  color: rgba(122, 122, 122, 1);
  font-size: 14px;
  line-height: 16px;
  margin-right: 36px;
  margin-left: 6px;
  &:hover {
    color: rgba(255, 255, 255, 1);
  }
}

.info {
  display: flex;
  cursor: pointer;
  &:hover {
    color: rgba(255, 255, 255, 1);
  }
}

.field {
  &_input {
    padding: 12px 15px;
    border: none;
    outline: none;
    background-color: rgba(229, 229, 229, 0.25);
    line-height: 1;
    border-radius: 8px;
    font-size: 14px;
    box-sizing: border-box;
    cursor: pointer;
    width: 100%;
    height: 40px;
    &::placeholder {
      color: rgba(255, 255, 255, 0.1);
      font-size: 14px;
      font-family: "Poppins", sans-serif;
    }
    &:hover {
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 8px;
    }
    &:focus {
      outline: 1px solid rgba(84, 124, 251, 1);
      color: rgba(255, 255, 255, 1);
    }
  }
}

.button {
  display: flex;
  gap: 20px;
}
